.nav {
    display: flex;
    min-height: 2rem;
    background: #D496AB;
    color: #640000;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
}

.nav-link{
    color: #640000;
    font-weight: 600;
    font-style: italic;
}